@page
@model PDC.Web.Pages.Batches.IndexModel
@section header{
    <style type="text/css">
        .Requested {
            background-color: grey;
            color: #fff;
        }

        .Approved {
            background-color: green;
            color: #fff;
        }

        .Rejected {
            background-color: red;
            color: #fff;
        }

        .Pending {
            background-color: lime;
            color: #fff;
        }
    </style>
    <style>
        .panel-heading {
            padding: 0;
            border: 0;
        }

        .panel-title > a, .panel-title > a:active {
            display: block;
            padding: 15px;
            color: #555;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            word-spacing: 3px;
            text-decoration: none;
        }
    </style>
    <script>
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });
    </script>
}
@{
    ViewData["Title"] = "Batches";
}

<h2>Batches List</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

    @{int rowNum = 0; }
    @foreach (var item in Model.batches)
    {
    <div class="panel panel-default">
        @{rowNum += 1;}
        <div class="panel-heading " role="tab" id="heading_@rowNum">
            <h4 class="panel-title">
                <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" href='#collapse_@rowNum' aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-chevron-right"></i> @item.batch_name</a>
            </h4>
            <table class="table" style="margin-bottom:0px;">
                <tbody>
                    <tr>
                        <td>Client Name: @item.client.client_name</td>
                        @if (item.approval_status == "Requested")
                        {
                            <td>Approval Status: <label class="label-info">&nbsp;@item.approval_status&nbsp;</label></td>
                        }
                        else if (item.approval_status == "Approved")
                        {
                            <td>Approval Status: <label class="label-success">&nbsp;@item.approval_status&nbsp;</label></td>
                        }
                        else
                        {
                            <td>Approval Status: <label class="label-danger">&nbsp;@item.approval_status&nbsp;</label></td>
                        }
                        <td>Approved By: @item.approved_by</td>
                        @if (item.approved_date != "9999-31-12T23:59:59")
                        {
                            <td>@item.approved_date</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>Batch Start: <label class="label-info">&nbsp;@item.batch_start.ToString("dd MMM yy HH:mm")&nbsp;</label></td>
                        <td>Batch End: <label class="label-info">&nbsp;@item.batch_end.ToString("dd MMM yy HH:mm")&nbsp;</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id='collapse_@rowNum' class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@rowNum">
            <div class="panel-body">
                @if (item.approval_status == "Requested")
                {
                    <div class="row">
                        <form method="post">
                            <div class="col-md-2">
                                <input type="submit" value="Approve" class="btn btn-warning" asp-route-id="@item.batch_id" asp-page-handler="Approve" onclick="return confirm('Are you sure you want to approve @item.batch_name?');" />
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Reject" class="btn btn-danger" asp-route-id="@item.batch_id" asp-page-handler="Reject" onclick="return confirm('Are you sure you want to reject @item.batch_name?');" />
                            </div>
                        </form>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Program</td>
                            <td><a asp-page="./Index" asp-route-sortOrder="@Model.nameSort">Applicant</a></td>
                            <td><a asp-page="./Index" asp-route-sortOrder="@Model.genderSort">Gender</a></td>
                            <td>e-mail</td>
                            <td>Date of Birth</td>
                            <td>Age</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itm in item.applicantPrograms)
                        {
                            <tr>
                                <td>@itm.program.program_name</td>
                                <td>@itm.applicant.full_name</td>
                                @if (itm.applicant.gender == 0)
                                {
                                    <td>Male</td>
                                }
                                else
                                {
                                    <td>Female</td>
                                }
                                <td>@itm.applicant.email</td>
                                <td>@itm.applicant.dob.ToString("dd MMM yy")</td>
                                <td>
                                    @{
                                        int umur = (DateTime.Now - itm.applicant.dob).Days;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
</div>
    