@page
@model PDC.Web.Pages.Questions.IndexModel
@section header{
    <style type="text/css">
        .Requested {
            background-color: grey;
            color: #fff;
        }

        .Approved {
            background-color: green;
            color: #fff;
        }

        .Rejected {
            background-color: red;
            color: #fff;
        }

        .Pending {
            background-color: lime;
            color: #fff;
        }
    </style>
}
@{
    ViewData["Title"] = "Questions";
}

<h2>Question List</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    @{
        var prevDisabled = !Model.pageQuestion.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.pageQuestion.HasNextPage ? "disabled" : "";
    }
    <div class="col-md-12">
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.pageQuestion.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.pageQuestion.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Details</th>
            <th>Borderline</th>
            <th>Domain</th>
            <th>Type</th>
            <th>Create By</th>
            <th>Create Date</th>
            <th>Edit By</th>
            <th>Edit Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pageQuestion)
        {
            int ansCount = 0;
            ansCount = item.answers.Count();
            <tr>
                <td>@(Model.rowNum += 1)</td>
                <td>
                    @*<a href="/Answers/Create?id=@item.question_id" data-toggle="tooltip" title="Answer count: @ansCount">@Html.DisplayFor(modelItem => item.question_detail)</a>*@
                    <a href="/Answers/Create?id=@item.question_id" data-toggle="tooltip" title="Answer count: @ansCount">@Html.DisplayFor(modelItem => item.question_detail)</a>
                </td>
                <td>
                    <input type="checkbox" disabled checked="@item.isBorderline" class="form-control checkbox-inline" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.domain.domain_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.create_by)
                </td>
                <td>
                    @item.create_date.ToString("dd MMM yyyy HH:m")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edit_by)
                </td>
                <td>
                    @item.edit_date.ToString("dd MMM yyyy HH:m")
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.question_id">Delete</a>
                    <a asp-page="./Edit" asp-route-id="@item.question_id">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.question_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    @{
        prevDisabled = !Model.pageQuestion.HasPreviousPage ? "disabled" : "";
        nextDisabled = !Model.pageQuestion.HasNextPage ? "disabled" : "";
    }
    <div class="col-md-12">
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.pageQuestion.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.pageQuestion.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>