@page
@model PDC.Web.Pages.Cities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>tCity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tCity.city_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tCity.city_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tCity.time_area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tCity.time_area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tCity.create_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tCity.create_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tCity.create_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tCity.create_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tCity.edit_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tCity.edit_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tCity.edit_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tCity.edit_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tCity.province_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tCity.province_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tCity.city_id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
