@page
@model PDC.Web.Pages.Applicants.DeleteModel

@{
    ViewData["Title"] = "Applicant";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tApplicant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.first_name)
        </dd>
        <dt>Last Name</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.last_name)
        </dd>
        <dt>Address</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.address1)
        </dd>
        <dt></dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.address2)
        </dd>
        <dt></dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.address3)
        </dd>
        <dt>E-mail</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.email)
        </dd>
        <dt>Status</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.status)
        </dd>
        <dt>Phone</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.phone)
        </dd>
        <dt>Last Login</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.last_login)
        </dd>
        <dt>Create By</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.create_by)
        </dd>
        <dt>Create Date</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.create_date)
        </dd>
        <dt>Edit By</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.edit_by)
        </dd>
        <dt>Edit Date</dt>
        <dd>
            @Html.DisplayFor(model => model.tApplicant.edit_date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="tApplicant.applicant_id" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this applicant?');" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
