@page
@model PDC.Web.Pages.Applicants.IndexModel
@section header{
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
}
@{
    ViewData["Title"] = "Applicants";
}
<h2>Applicant List</h2>
<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post">
    <div id="dataGrid"></div>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th style="display:none;"></th>
                <th>Name</th>
                <th>Address</th>
                <th>E-mail</th>
                <th style="display:none;">Status</th>
                <th>Phone</th>
                <th style="display:none;">Last Login</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tApplicant)
            {
                <tr>
                    <td style="display:none;">
                        @if (item.status == "Requested")
                        {
                            <input type="submit" value="Approve" class="btn btn-warning" asp-route-id="@item.applicant_id" asp-page-handler="Approve" onclick="return confirm('Are you sure you want to approve @item.full_name?');" />
                            <input type="submit" value="Reject" class="btn btn-danger" asp-route-id="@item.applicant_id" asp-page-handler="Reject" onclick="return confirm('Are you sure you want to reject @item.full_name?');" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.full_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td class="@item.status" style="display:none;">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td style="display:none;">
                        @if (item.last_login != DateTime.MaxValue || item.last_login != DateTime.MinValue)
                        {@item.last_login.ToString("dd MMM yyyy HH:mm")}
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.applicant_id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.applicant_id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.applicant_id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
@section Scripts{
    <script src="~/js/jquery.columns-1.0.min.js"></script>
    <script>
        $.ajax({
            url: '../api/applicants',
            dataType: 'json',
            success: function (json) {
                dataGrid = $('#dataGrid').columns({
                    data: json,
                    schema: [
                        { "header": "First Name", "key": "first_name" },
                        { "header": "Last Name", "key": "last_name" },
                        { "header": "Client", "key": "client{client_name}" },
                        { "header": "Email", "key": "email", "template": '<a href="mailto:{{email}}">{{email}}</a>' },
                        { "header": "Gender", "key": "gender_name" },
                        { "header": "Phone", "key": "phone" },
                        { "header": "", "key": "applicant_id", "template":'<a href="/Edit?id=">Edit</a> | <a href="/Details?id=applicant_id">Details</a> | <a href="/Delete?id=applicant_id">Delete</a>'}
                    ]
                });
            }
        });
    </script>
}