@page
@model PDC.Web.Pages.Reports.Detail.DetailsModel
@section header{
    <!--[if lte IE 8]>
        <script language="javascript" type="text/javascript" src="/js/flot/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/js/Chart.bundle.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.time.js"></script>
    <script type="text/javascript" src="~/js/jshashtable-2.1.js"></script>
    <script type="text/javascript" src="~/js/jquery.numberformatter-1.2.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.symbol.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.axislabels.js"></script>
    <script src="~/css/tinymce/tinymce.min.js"></script>
    <script>
        var horizontalBarChartData = {
            labels: [@for (int i = 0; i < 4; i++)
                    {
                        if (i < 3) {
                            @: "@Model.rangkings[i].type.type_name",
                        } else {
                            @: "@Model.rangkings[i].type.type_name"
                        }
                    }],
            datasets: [{
                label: 'Z-Score',
                backgroundColor: "rgba(220,220,220,0.5)",
                data: [
                        @for (int i = 0; i < 4; i++)
                        {
                            if (i < 3) {
                                @: @Model.rangkings[i].zScore,
                            } else {
                                @: @Model.rangkings[i].zScore
                            }
                        }
                ]
            }]
        };

        window.onload = function () {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myHorizontalBar = new Chart(ctx, {
                type: 'horizontalBar',
                data: horizontalBarChartData,
                options: {
                    // Elements options apply to all of the options unless overridden in a dataset
                    // In this case, we are setting the border of each horizontal bar to be 2px wide and green
                    elements: {
                        rectangle: {
                            borderWidth: 2,
                            borderColor: 'rgb(0, 255, 0)',
                            borderSkipped: 'left'
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Profile Graphic'
                    }
                }
            });
        };
    </script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: true,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code help wordcount'
            ],
            toolbar: 'undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
        });
    </script>
}
@{
    ViewData["Title"] = "Reports - Detail";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.answers != null)
        {
            @if (Model.answers.Count > 0)
            {
                <dt>Batch Name</dt>
                <dd>
                    @Html.DisplayFor(model => model.answers[0].applicant_program.batch.batch_name)
                </dd>
                <dt>Start</dt>
                <dd>
                    @Html.DisplayFor(model => model.answers[0].applicant_program.batch.batch_start);
                </dd>
                <dt>End</dt>
                <dd>
                    @Html.DisplayFor(model => model.answers[0].applicant_program.batch.batch_end)
                </dd>
                <dt>Client</dt>
                <dd>
                    @Html.DisplayFor(model => model.answers[0].applicant_program.batch.client.client_name)
                </dd>
            }
        }
        else
        {

        }
    </dl>
    <hr />
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#graphic" aria-controls="graphic" role="tab" data-toggle="tab">Graphic</a></li>
        <li role="presentation"><a href="#score" aria-controls="score" role="tab" data-toggle="tab">Score</a></li>
        <li role="presentation"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">Check List</a></li>
        <li role="presentation"><a href="#answer" aria-controls="answer" role="tab" data-toggle="tab">Answer List</a></li>
        <li role="presentation"><a href="#profiling" aria-controls="profiling" role="tab" data-toggle="tab">Profile</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="graphic">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <canvas id="canvas" width="450" height="140"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Evolutionary and Domain Personality :</h4>
                        <table class="table table-bordered table-hover" title="">
                            <thead>
                                <tr style="background-color:#000; color:#fff; font-size:.9em; text-align:center; width:50%">
                                    <td>Personality</td>
                                    <td>Pain >< Pleasure</td>
                                    <td>Passive >< Active</td>
                                    <td>Self >< Other</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <tr style="text-align:center;">
                                        <td>@Model.rangkings[i].type.type_name</td>
                                        <td>@Model.rangkings[i].type.pain_pleasure</td>
                                        <td>@Model.rangkings[i].type.passive_active</td>
                                        <td>@Model.rangkings[i].type.self_other</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="score">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Type</th>
                                <th>Raw Score</th>
                                <th>Z-Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int rowNum = 0;
                                foreach (var item in Model.rangkings)
                                {
                                    <tr>
                                        <td>@(rowNum += 1)</td>
                                        <td>@item.type.type_name</td>
                                        <td>@item.rawScore</td>
                                        <td>@item.zScore</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="list">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                                @foreach (var item in Model.rangkings[0].domainCount)
                                {
                                    <th>@item.domain.domain_name</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{int row = 0; }
                            @foreach (var item in Model.rangkings)
                            {
                                <tr>
                                    <td>@(row += 1)</td>
                                    <td>@item.type.type_name</td>
                                    @foreach (var itm in item.domainCount)
                                    {
                                        if (itm.count == 0)
                                        {
                                            <td>-</td> }
                                        else
                                        {
                                            <td>@itm.count</td>}
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="answer" class="tab-pane" role="tabpanel">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th># Selected</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.answers)
                    {
                        <tr>
                            <td></td>
                            <td>
                                <span class="count_top">@item.answer.question.question_detail</span><br />
                                <span class="count_bottom"><i class="red">[@item.answer.question.type_name][@item.answer.question.domain.domain_name]</i></span>
                            </td>
                            <td>@item.answer.answer_detail</td>
                            <td>
                                @foreach (var itm in Model.history.Where(h => h.answer.question_id == item.answer.question_id))
                                {
                                    <label>@itm.answer.answer_detail,</label>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="profiling" class="tab-pane" role="tabpanel">
            <form method="post">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="applicantProgram.applicant_program_id" />
                        <div style="padding:10px; margin:15px;">
                            <div class="btn-group" style="margin-bottom:5px;">
                                <button type="button" class="btn btn-danger">Insert</button>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Name</a>
                                    </li>
                                    <li>
                                        <a href="#">Gender</a>
                                    </li>
                                    <li>
                                        <a href="#">Age</a>
                                    </li>
                                    <li>
                                        <a href="#">Title</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Graphic</a>
                                    </li>
                                    <li>
                                        <a href="#">Score</a>
                                    </li>
                                    <li>
                                        <a href="#">Checklist</a>
                                    </li>
                                </ul>
                            </div>
                            <textarea asp-for="applicantProgram.report_description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div style="padding:10px; margin:15px;">
                            <input type="submit" value="Save Profile" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="padding:10px; margin:15px;">
                            <a href="./Summary?id=@Model.applicantProgram.applicant_program_id&app=@Model.applicantProgram.applicant_id" class="btn btn-info">Preview</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
