@page
@model PDC.Web.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tUser.first_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.first_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.last_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.last_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.last_login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.last_login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.create_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.create_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.create_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.create_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.edit_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.edit_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.edit_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.edit_date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="tUser.user_id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
