@page
@model PDC.Web.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>tUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tUser.first_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.first_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.last_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.last_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.last_login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.last_login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.create_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.create_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.create_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.create_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.edit_by)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.edit_by)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.edit_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.edit_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tUser.user_id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
