@page
@model PDC.Web.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>tUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tUser.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
