@page
@model PDC.Web.Pages.Provinces.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Province Name</th>
            <th>Create by</th>
            <th>Create Date</th>
            <th>Edit By</th>
            <th>Edit Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tProvince)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.province_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.create_by)
                </td>
                <td>
                    @item.create_date.ToString("dd MMM yyyy HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edit_by)
                </td>
                <td>
                    @item.edit_date.ToString("dd MMM yyyy HH:mm")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.province_id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.province_id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.province_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
